/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  background-image: url(../images/stjerne-til-baggrund.jpg);
}

h1 {
  text-align: center;
  font-size: 75px;
}

h1 a {
  color: #FC0;
  text-decoration: none;
}

h2 {
  font-family: Georgia, “Times New Roman”, serif;
  color: #CA1F25; /*rød*/
  margin-bottom: 40px;
  font-size: 22px;
}

p {
  margin-bottom: 20px;
}

#wrapper {
  width: 1024px;
  height: auto;
  margin: auto;
}

header {
  height: 370px;
  background-image: url(../images/banner_header.png);
  background-repeat: no-repeat;
}

#banner {
  width: 1024px;
  height: 85px;
  padding-top: 165px;
  clear: both;
}

nav {
  background-color: #CA1F25; /*rød*/
  height: 120px;
  background-image: url(../images/banner_header_nederst.png);
  background-repeat: no-repeat;
  display: block;
}

nav ul {
  margin: 95px 20px 0 0;
  float: right;
}

nav ul li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
}

nav ul li a {
  color: #FBEC4B; /*lys gul*/
  font-size: 14px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #575757; /*mørk grå*/
}

article {
  background-color: #FC0; /*gul*/
  padding-left: 30px;
  height: 554px;
}

#tekstbox {
  width: 380px;
  margin: 35px 20px 0 0;
  float: left;
}

#billedbox {
  width: 584px;
  height: 554px;
  float: left;
}

footer {
  height: 17px;
  padding-top: 3px;
  background-color: #CA1F25; /*rød*/
  color: #fc0;
  text-align: center;
}

address {
  font-style: normal;
}

/*----------------PROGRAM og MERCHANDSIE-------------------*/
#tekstbox ul {
  font-size: 16px;
  margin-left: 30px;
  line-height: 22px;
}

article a {
  color: #CA1F25; /*rød*/
  text-decoration: none;
  font-size: 13px;
}

article a:visited {
  text-decoration: none;
  color: #CA1F25; /*rød*/
}

article a:hover {
  text-decoration: underline;
}

.mellemrubrik {
  font-weight: bold;
  line-height: 20px;
}

.boxwrap {
  width: 573px;
  height: 272px;
  float: left;
}

.boxleft {
  width: 281px;
  height: 262px;
  float: left;
  margin-top: 10px;
}

.boxright {
  width: 281px;
  height: 262px;
  margin: 10px 0 0 10px;
  float: left;
}



